.l-contents {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 50px;
  @include tab {
    padding-top: 0;
  }
  &__article {
    display: flex;
    padding-left: 10px;
    @include tab {
      flex-direction: column;
      padding-left: 0;
    }
    &__picture {
      width: 50%;
      @include tab {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    &__1 {
      padding-left: 62px;
      @include tab {
        padding: 6px 16px;
      }

      &__title {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        font-size: 16px;
        padding: 17px 0 22px 0;
      }
      &__sentence {
        padding-top: 15px;
        line-height: 1.8;
        font-size: 0.75rem;
      }
      &__value {
        padding: 22px 0;
        @include tab {
          padding: 26px 0;
        }
      }
      &__item {
        width: 100%;
        thead {
          vertical-align: middle;
        }
        th {
          border-bottom: 1px solid#c3c3c3;
          padding: 18px 22px 9px 18px;
        }
        td {
          font-weight: normal;
          padding: 10px 20px 4px 17px;
          border-right: solid 1px #c3c3c3;
          border-top: 1px solid #c3c3c3;
          text-align: center;
          &:last-child {
            border-right: none;
          }
        }
        &__a {
          width: 16%;
          border-right: solid 1px #c3c3c3;
        }
        &__b {
          width: 68%;
        }
      }
      &__button {
        width: 100%;
        background-color: #4b4b4b;
        color: #fff;
        display: block;
        line-height: 1;
        padding: 20px 0;
        margin-top: 20px;
        @include tab {
          margin-top: 26px;
        }
        margin-bottom: 30px;
        text-align: center;
        font-size: 0.75rem;
        a {
          &:hover {
            background-color: white;
            color: #4b4b4b;
          }
        }
      }

      &__size {
        width: 100%;
        &__a {
          width: 15%;
        }
        &__b {
          width: 28%;
        }
        th,
        td {
          padding: 8px 11px;
          border-right: solid 1px #c3c3c3;
          border-bottom: solid 1px #c3c3c3;
          text-align: center;
          border-left: solid 1px #c3c3c3;
        }
        th {
          border-top: solid 1px #c3c3c3;
          background-color: #ecebeb;
        }
        td {
          &:first-child {
            border-left: solid 1px #c3c3c3;
            background-color: #ecebeb;
          }
        }
      }
    }
  }
}
