.l-header {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 26px;
  border-bottom: solid 1px #c3c3c3;

  &_logo {
    width: 109px;
    height: 19px;
    margin: 0 auto;
    padding: 46px 0;
    img {
      width: 100%;
    }
  }
  &_menu {
    display: flex;
    justify-content: space-between;
    &_left,
    &_right {
      display: flex;
    }
  }
}
