.l-header {
  margin: 0 auto;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 26px;
  border-bottom: solid 1px #c3c3c3;

  &_logo {
    width: 109px;
    margin: 0 auto;
    padding: 46px 0px 32px 16px;
    img {
      width: 100%;
    }
  }
  &_menu {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 15px;
    &_left,
    &_right {
      display: flex;
    }
    &_right {
      padding-left: 7px;
    }
  }
}
